@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,300;1,900&display=swap');

:root{
    --litpurple:#5727b0;
    --litblue:#57acdc;
    --litgreen:#60c689;
    --litgold:#FBC901;
    --litred:#c2185b;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    text-align:left;
    font-family:'Roboto',sans-serif;
    font-size:22px;
    line-height: 1.4;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 1400px;
    width: 95%;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 130%;
    text-align: center;
    font-weight: normal;
    margin-top: 1.5em;
}
h2 {
    font-size: 110%;
    color: var(--litred);
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0em;
}
p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.button {
    border-radius: 16px;
    padding: 8px;
    line-height: normal;
    font-size: 80%;
    font-weight: bold;
}
.button-group {
    display: inline-block;
    margin-right: 0.8em;
    line-height: 1.8;
}
.context-menu {
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 2em;
}
.navigation-menu {
    display: inline-block;
    width: 100%;
    margin-top: -0.8em;
    text-align: center;
}
.lt{
    margin-left: 1.5em;
    margin-top: -0.5em;
    font-style: italic;
    color:gray;
}
.r {
    color: var(--litred);
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
}
.ref {
    font-weight: bold;
}
.small {
    font-size: 80%;
}
a.advento {
    color: var(--litpurple);
}
a.advento:hover, a.advento:active {
    background: var(--litpurple);
    color:white;
}
.advento.background {
    background:var(--litpurple);
    color:white;
}
.advento.button {    
    border: solid var(--litpurple) 1px;
}
a.natal {
    color: var(--litblue);
}
a.natal:hover, a.natal:active {
    background: var(--litblue);
    color:white;
}
.natal.background {
    background:var(--litblue);
    color:white;
}
.natal.button {    
    border: solid var(--litblue) 1px;
}
a.quaresma {
    color: var(--litpurple);
}
a.quaresma:hover, a.quaresma:active {
    background: var(--litpurple);
    color:white;
}
.quaresma.background {
    background:var(--litpurple);
    color:white;
}
.quaresma.button {    
    border: solid var(--litpurple) 1px;
}