a {
    color: var(--litpurple);
}
a:hover, a:active {
    background: color-mix(in srgb, var(--litpurple) 80%, white);
    color:white;
}
.background {
    background:var(--litpurple);
    color:white;
}