a {
    color: var(--litgreen);
}
a:hover, a:active {
    background: color-mix(in srgb, var(--litgreen) 80%, white);
    color:white;
}
.background {
    background:var(--litgreen);
    color:white;
}